*.a
*.class
assets/*.ttf
build
external
imgui.ini
log.txt
SimplePixelShader.h
SimpleVertexShader.h
starlight.dll
starlight.exe
starlight.exp
starlight.so
starlight_hlsl_generated.h
starlight_java_generated.h
starlight_linux
starlight_vertex_generated.h
