*.a
*.class
assets/*.ttf
build
export
external
imgui.ini
log.txt
SimplePixelShader.h
SimpleVertexShader.h
starlight.dll
starlight.exe
starlight.exp
starlight.so
starlight_hlsl_generated.h
starlight_linux
starlight_vertex_generated.h
win32/lua
*.VC.db
*.VC.VC.opendb
*.lastbuildstate
win32/starlight.lbc
