version: '{build}'
image: Visual Studio 2015
configuration:
  - Debug
  - Release
platform:
  - x86
  - x64
install:
  - ps: .\install.ps1
#  - cmd: MSBuild .\external\protobuf-2.6.1\vsprojects\libprotobuf.vcxproj /p:Configuration=Release
build:
  project: vs\starlight.sln
  verbosity: minimal
